<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfrastructureReporter">
        <activity
            android:name="com.example.infrastructureproject.SignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.infrastructureproject.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.infrastructureproject.CitizenDashboardActivity"
            android:exported="false" />
        <activity
            android:name="com.example.infrastructureproject.EngineerDashboardActivity"
            android:exported="false" />
        <activity
            android:name="com.example.infrastructureproject.CouncilDashboardActivity"
            android:exported="false" />
        <activity
            android:name="com.example.infrastructureproject.CouncilTicketDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.infrastructureproject.TicketDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.infrastructureproject.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.infrastructureproject.ResetPasswordActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="reset-password"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="infrastructurereporter" />
                <data android:host="reset-password" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.infrastructureproject.ChatBotMainActivity"
        android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>